.arsenal{
    position: absolute;
    z-index: 20;
    top:100px;
    left: 500px;
}
.arsenal h4 {
    color: white
}
.info_area{
    display: flex;
    justify-content:space-between;
    
}
.info_area a {
    margin-left: 800px;
}