body{
    background-color: black;
}
.background-home img{
    width:99vw;
    height:auto;
    background-size: cover;
    background-position: center;
    background-color:#000;
    z-index: 9;
    position: absolute;
    z-index: 9;
    background-repeat: repeat-y;
}

.fundo_trasparente{
    width:99vw;
    height:100vh;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.472);
    z-index: 10;
}