.background-home{
background-color:#000;
}
.background-home img{
    width:99vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color:#000;
    z-index: 9;
    background-repeat: repeat;
    position: fixed;
}

.fundo_trasparente{
    width:100vw;
    height:100vh;
    position:absolute;
    background-color: rgba(0, 0, 0, 0.472);
    z-index: 10;
    background-repeat: repeat;
    position: fixed;
}