
.azul{
    background-color: blue;
}
.header{
    height: auto;
    overflow: hidden;
}
.mybody{
    width: 100%;
    height: auto;
}
.container{
    position: absolute;
    top: 20px;
    width:100%;
    height: 100vh;
    
}
.login{
    width:25vw;
    height: 30vh;
    background-color:blue;
    top : 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: absolute
}
#background{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}